
<%= button_to "signout", user_signout_path, method: :delete %>
<h1>Home</h1>

<div>
  <span><%= link_to "List of Task", tasks_path %></span>
  <span><%= link_to "List of Category", categories_path %></span>
</div>
